:host{
    margin-top: 1rem;
    display: block;
}
.title
{
    font-weight: 700; 
    font-size: 300%;
}
.content{
    font-weight: 500;
}
.date{
    margin-top: 11px;
    font-weight:500;
}